<!DOCTYPE html>
<html>
<head>
    <title><%= data.fullName %> - Resume</title>
    



</head>
<body>

<div class="resume">

<h1><%= data.fullName %></h1>

<div class="header">
    <div class="left">
        <div><%= data.phone %></div>
        <div><%= data.address %></div>
        <div><%= data.email %></div>
        <div><%= data.linkedin %></div>
        <div><%= data.github %></div>
    </div>
    <% if(data.photo){ %>
        <img src="<%= data.photo %>">
    <% } %>
</div>


<!-- EDUCATION -->
<% if(data.degree){ %>
<div class="section-title">Education</div>

<%
const degree = [].concat(data.degree);
const college = [].concat(data.college);
const year = [].concat(data.year);
const cgpa = [].concat(data.cgpa);
%>

<% for(let i=0;i<degree.length;i++){ %>
<div class="entry">
    <div class="entry-left">
        <strong><%= degree[i] %></strong><br>
        <%= college[i] %>
    </div>
    <div class="entry-right">
        <%= year[i] %> | <%= cgpa[i] %>
    </div>
</div>
<% } %>
<% } %>


<!-- SKILLS -->
<% if(data.skill){ %>
<div class="section-title">Skills</div>
<ul>
<% [].concat(data.skill).forEach(s=>{ %>
<li><%= s %></li>
<% }) %>
</ul>
<% } %>


<!-- EXPERIENCE -->
<% if(data.company){ %>
<div class="section-title">Experience</div>

<%
const company=[].concat(data.company);
const position=[].concat(data.position);
const expYear=[].concat(data.expYear);
const expDesc=[].concat(data.expDesc);
%>

<% for(let i=0;i<company.length;i++){ %>
<div class="entry">
    <div class="entry-left">
        <strong><%= company[i] %></strong><br>
        <%= position[i] %>
    </div>
    <div class="entry-right">
        <%= expYear[i] %>
    </div>
</div>
<ul><li><%= expDesc[i] %></li></ul>
<% } %>
<% } %>


<!-- PROJECT -->
<% if(data.projectTitle){ %>
<div class="section-title">Projects</div>
<% [].concat(data.projectTitle).forEach((p,i)=>{ %>
<strong><%= p %></strong>
<ul><li><%= [].concat(data.projectDesc)[i] %></li></ul>
<% }) %>
<% } %>


<!-- INTERNSHIP -->
<% if(data.internCompany){ %>
<div class="section-title">Internships</div>
<%
const internCompany=[].concat(data.internCompany);
const internRole=[].concat(data.internRole);
const internDuration=[].concat(data.internDuration);
const internDesc=[].concat(data.internDesc);
%>
<% for(let i=0;i<internCompany.length;i++){ %>
<div class="entry">
    <div class="entry-left">
        <strong><%= internCompany[i] %></strong><br>
        <%= internRole[i] %>
    </div>
    <div class="entry-right">
        <%= internDuration[i] %>
    </div>
</div>
<ul><li><%= internDesc[i] %></li></ul>
<% } %>
<% } %>


<!-- CERTIFICATES -->
<% if(data.certificateTitle){ %>
<div class="section-title">Certificates</div>
<% [].concat(data.certificateTitle).forEach((c,i)=>{ %>
<strong><%= c %></strong>
<div><%= [].concat(data.certificateOrg)[i] %></div>
<ul><li><%= [].concat(data.certificateDesc)[i] %></li></ul>
<% }) %>
<% } %>


<!-- HOBBIES -->
<% if(data.hobby){ %>
<div class="section-title">Hobbies</div>
<ul>
<% [].concat(data.hobby).forEach(h=>{ %>
<li><%= h %></li>
<% }) %>
</ul>
<% } %>


<!-- LANGUAGES -->
<% if(data.language){ %>
<div class="section-title">Languages</div>
<ul>
<% [].concat(data.language).forEach(l=>{ %>
<li><%= l %></li>
<% }) %>
</ul>
<% } %>

</div>

<button class="download-btn" onclick="window.print()">Download</button>
</body>
</html>